<div>
  <img src="https://avatars.githubusercontent.com/u/142812?s=400&u=2c3a1edbded05499a6a8dbac2934b216ae9f120c&v=4" alt="Alexandru Apetrei, somewhere in Italy">
  <p>
    Salut, I'm <strong>Alex</strong>. I'm a software wisperer based in Salzburg.
    You can follow me on <a href="https://www.x.com/urssur" target="_blank">Twitter</a>,
    see some of public code on <a href="https://github.com/alexaapetrei" target="_blank">GitHub</a>,
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
