<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="UrsSur Logo" src="/assets/bear25.webp" width="50" />
</a>
